:root {
    --primary-color: #F2C94C;
    --width-break: 600px;
}


body {
    padding: 0;
    margin: 0;
    font-family: 'Kalam',
        cursive;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}


nav {
    Display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    text-align: center;
    padding: 1rem;
    font-size: medium;
}

#translate-input {
    margin-top: 5rem;
    padding: 1rem;
}

#translate-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: var(--primary-color);
    border: none;
    padding: 1rem;
    margin-top: 1rem;
    font-weight: 600;
    font-family: 'kalam';
    border-radius: 10px;
}

#btn-img {
    width: 50px;
    vertical-align: middle;
}

#header-image {
    width: 130px;
}

#heading {
    text-align: center;
}

#translate-pic {

    width: 40px;
    vertical-align: middle;
}

.translate-output {
    border: 1px solid black;
    height: 15vh;
    padding: 1rem;
}

footer {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}

#footer-para {
    width: 30%;
}